.btn .fa, .btn .glyphicon{
	margin-right: 0px;
}

.center-img{
	display:block;
    margin:auto;
}

.user-uploaded-image{
	display: inline-block;
    margin: auto;
    vertical-align: middle;
    width: 120px;
    border: 5px solid #ededec;
    border-radius: 5px;
}

.user-frame{
	width: 100px;
}

.user-qty{
	font-size: 30px;
	font-weight: bold;
}